@import "leaflet/dist/leaflet.css";
@import "leaflet-geosearch/dist/geosearch.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #4a352f;
  color: #f5f1e8;
  font-family: "Kumbh Sans", sans-serif;
}

.leaflet-container {
  text-align: right;
  direction: rtl;
  background-color: #e0e0e0;
}